:root{
    --background-main-color:#F9F4F5;
    --background-second-color:#EBE7E8;
    --text-color:#28262C;
    --accent-color1:#00AC73;
    --accent-color2: #006C93;
    --zevdevgradient: linear-gradient(to top right, var(--accent-color1) 50%, var(--accent-color2) 100%);
}



div, iframe {
    width: auto;
    height: auto;
    margin: 0 auto;
    background-color: var(--background-second-color);
}

body{
    background: var(--background-main-color)
}

body {
/*// font grows 1px for every 100px of viewport width*/
font-size: calc(12px + 1vw);
/*// leading grows along with font,*/
/*// with an additional 0.1em + 0.5px per 100px of the viewport*/
line-height: calc(1.1em + 0.5vw);
}

iframe {
    display: block;
    border-style:none;
    overflow: visible;

}



header{
    border: 3px black;
    /*text-align: center;*/
    border-radius: 30px;
    display: flex;

    margin-inline: 1%;

    display: flex;



}

.topnav li{
    display: flex;
    float: left;

    padding: 1%;
    margin: 0px;
    font-family:"Calibri Light";

}

.logo{
    padding: 2%;
    width:10%;
    height:10%;
    justify-content: center;

    float: left;
}

.logo img {
    width:100%;
    height:100%;
}

.topnav {
    display: flex;
    flex-grow: 1;
    height:10%;
    /*background-color: var(--accent-color1);*/
    outline: 5px solid var(--accent-color1);
}

h1{
    font-family:"Arial Black";
    color: var(--text-color);
    /*color: red;*/
    clear: both ;
    border-radius: 30px;
    text-align: center;
    padding: 3%;

    /*background-color: var(--accent-color2);*/
    outline: 5px solid var(--accent-color2);
}

p{
    color: var(--text-color);
    text-align: left;
    font-family:"Calibri Light";
    padding: 5%;
}

body{
    background: linear-gradient(to top right, var(--background-main-color) 50%, var(--background-second-color) 100%);
    /* 1st property: from where the 100% starts */
    /* 2nd property: the first color */
    /* 3rd property: the second color */
    /* to add some colors to the gradient, do the same thing of 2nd and 3rd properties, edit the color and the color-stop */
}